Get It Done
1. make sure the outcome is not in the dataset
2. reduce number of folds to 5
3. consider using the loan data for the challenge

In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [38]:
y2015 = pd.read_csv("LoanStats3d.csv", skipinitialspace=True, header=1)

C:\Users\jesst\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0,19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [39]:
y2015.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,68009401,72868139.0,16000.0,16000.0,16000.0,60 months,14.85%,379.39,C,C5,...,0.0,2.0,78.9,0.0,0.0,2.0,298100.0,31329.0,281300.0,13400.0
1,68354783,73244544.0,9600.0,9600.0,9600.0,36 months,7.49%,298.58,A,A4,...,0.0,2.0,100.0,66.7,0.0,0.0,88635.0,55387.0,12500.0,75635.0
2,68466916,73356753.0,25000.0,25000.0,25000.0,36 months,7.49%,777.55,A,A4,...,0.0,0.0,100.0,20.0,0.0,0.0,373572.0,68056.0,38400.0,82117.0
3,68466961,73356799.0,28000.0,28000.0,28000.0,36 months,6.49%,858.05,A,A2,...,0.0,0.0,91.7,22.2,0.0,0.0,304003.0,74920.0,41500.0,42503.0
4,68495092,73384866.0,8650.0,8650.0,8650.0,36 months,19.89%,320.99,E,E3,...,0.0,12.0,100.0,50.0,1.0,0.0,38998.0,18926.0,2750.0,18248.0

from sklearn import ensemble
from sklearn.model_selection import cross_val_score

rfc = ensemble.RandomForestClassifier()
X = y2015.drop("loan_status", 1)
Y = y2015["loan_status"]
X = pd.get_dummies(X)

cross_val_score(rfc, X, Y, cv=5)

In [40]:
categorical = y2015.select_dtypes(include=["object"])
for i in categorical:
    column = categorical[i]
    print(i)
    print(column.nunique())

id
421097
term
2
int_rate
110
grade
7
sub_grade
35
emp_title
120812
emp_length
11
home_ownership
4
verification_status
3
issue_d
12
loan_status
7
pymnt_plan
1
url
421095
desc
34
purpose
14
title
27
zip_code
914
addr_state
49
earliest_cr_line
668
revol_util
1211
initial_list_status
2
last_pymnt_d
25
next_pymnt_d
4
last_credit_pull_d
26
application_type
2
verification_status_joint
3

In [41]:
y2015["id"] = pd.to_numeric(y2015["id"], errors="coerce")
y2015["int_rate"] = pd.to_numeric(y2015["int_rate"].str.strip("%"), errors="coerce")

In [42]:
y2015.columns[11:25]

Index(['emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti'],
      dtype='object')

In [43]:
del y2015["emp_title"]

#y2015.drop(["url", "emp_title", "zip_code", "earliest_cr_line", "revol_util",
 #          "sub_grade", "addr_state", "desc"])

print(y2015.shape)

(421097, 110)

In [44]:
del y2015["zip_code"]

print(y2015.shape)

(421097, 109)

In [45]:
del y2015["earliest_cr_line"]

print(y2015.shape)

(421097, 108)

In [46]:
del y2015["revol_util"]

In [47]:
del y2015["sub_grade"]

In [48]:
del y2015["addr_state"]

print(y2015.shape)

(421097, 105)

In [49]:
del y2015["desc"]

In [50]:
del y2015["url"]

In [51]:
y2015.columns[10:21]

Index(['home_ownership', 'annual_inc', 'verification_status', 'issue_d',
       'loan_status', 'pymnt_plan', 'purpose', 'title', 'dti', 'delinq_2yrs',
       'inq_last_6mths'],
      dtype='object')

In [52]:
y2015.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
421092,36271333.0,38982739.0,13000.0,13000.0,13000.0,60 months,15.99,316.07,D,5 years,...,0.0,3.0,100.0,50.0,1.0,0.0,51239.0,34178.0,10600.0,33239.0
421093,36490806.0,39222577.0,12000.0,12000.0,12000.0,60 months,19.99,317.86,E,1 year,...,1.0,2.0,95.0,66.7,0.0,0.0,96919.0,58418.0,9700.0,69919.0
421094,36271262.0,38982659.0,20000.0,20000.0,20000.0,36 months,11.99,664.20,B,10+ years,...,0.0,1.0,100.0,50.0,0.0,1.0,43740.0,33307.0,41700.0,0.0
421095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
y2015 = y2015[:-2]

In [54]:
y2015["application_type"].unique()

array(['INDIVIDUAL', 'JOINT'], dtype=object)

In [55]:
y2015.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,68009401.0,72868139.0,16000.0,16000.0,16000.0,60 months,14.85,379.39,C,10+ years,...,0.0,2.0,78.9,0.0,0.0,2.0,298100.0,31329.0,281300.0,13400.0
1,68354783.0,73244544.0,9600.0,9600.0,9600.0,36 months,7.49,298.58,A,8 years,...,0.0,2.0,100.0,66.7,0.0,0.0,88635.0,55387.0,12500.0,75635.0
2,68466916.0,73356753.0,25000.0,25000.0,25000.0,36 months,7.49,777.55,A,10+ years,...,0.0,0.0,100.0,20.0,0.0,0.0,373572.0,68056.0,38400.0,82117.0
3,68466961.0,73356799.0,28000.0,28000.0,28000.0,36 months,6.49,858.05,A,10+ years,...,0.0,0.0,91.7,22.2,0.0,0.0,304003.0,74920.0,41500.0,42503.0
4,68495092.0,73384866.0,8650.0,8650.0,8650.0,36 months,19.89,320.99,E,8 years,...,0.0,12.0,100.0,50.0,1.0,0.0,38998.0,18926.0,2750.0,18248.0

In [25]:
from sklearn import ensemble
from sklearn.model_selection import cross_val_score

rfc = ensemble.RandomForestClassifier()
#X = y2015.drop("loan_status", 1)
Y = outcome
#X = pd.get_dummies(X)
X = y2015
X = X.dropna(axis=1)

cross_val_score(rfc, X, Y, cv=10)

C:\Users\jesst\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:458: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\jesst\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:458: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\jesst\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:458: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\jesst\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:458: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\jesst\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:458: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\jesst\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:458: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

KeyboardInterrupt:

## Drill: Third Attempt 

Get rid of as much data as possible without dropping below an average of 90% accuracy in a 10-fold cross validation.

You'll want to do a few things in this process. First, dive into the data that we have and see which features are most important. This can be the raw features or the generated dummies. You may want to use PCA or correlation matrices.

Can you do it without using anything related to payment amount or outstanding principal? How do you know?

In [56]:
y2015.shape

(421095, 103)

In [57]:
del y2015["id"]

In [58]:
del y2015["member_id"]

In [59]:
y2015.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,home_ownership,annual_inc,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,16000.0,16000.0,16000.0,60 months,14.85,379.39,C,10+ years,MORTGAGE,48000.0,...,0.0,2.0,78.9,0.0,0.0,2.0,298100.0,31329.0,281300.0,13400.0
1,9600.0,9600.0,9600.0,36 months,7.49,298.58,A,8 years,MORTGAGE,60000.0,...,0.0,2.0,100.0,66.7,0.0,0.0,88635.0,55387.0,12500.0,75635.0
2,25000.0,25000.0,25000.0,36 months,7.49,777.55,A,10+ years,MORTGAGE,109000.0,...,0.0,0.0,100.0,20.0,0.0,0.0,373572.0,68056.0,38400.0,82117.0
3,28000.0,28000.0,28000.0,36 months,6.49,858.05,A,10+ years,MORTGAGE,92000.0,...,0.0,0.0,91.7,22.2,0.0,0.0,304003.0,74920.0,41500.0,42503.0
4,8650.0,8650.0,8650.0,36 months,19.89,320.99,E,8 years,RENT,55000.0,...,0.0,12.0,100.0,50.0,1.0,0.0,38998.0,18926.0,2750.0,18248.0

In [60]:
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [61]:
y2015.dtypes

loan_amnt                         float64
funded_amnt                       float64
funded_amnt_inv                   float64
term                               object
int_rate                          float64
installment                       float64
grade                              object
emp_length                         object
home_ownership                     object
annual_inc                        float64
verification_status                object
issue_d                            object
loan_status                        object
pymnt_plan                         object
purpose                            object
title                              object
dti                               float64
delinq_2yrs                       float64
inq_last_6mths                    float64
mths_since_last_delinq            float64
mths_since_last_record            float64
open_acc                          float64
pub_rec                           float64
revol_bal                         float64
total_acc                         float64
initial_list_status                object
out_prncp                         float64
out_prncp_inv                     float64
total_pymnt                       float64
total_pymnt_inv                   float64
                                   ...
mo_sin_old_rev_tl_op              float64
mo_sin_rcnt_rev_tl_op             float64
mo_sin_rcnt_tl                    float64
mort_acc                          float64
mths_since_recent_bc              float64
mths_since_recent_bc_dlq          float64
mths_since_recent_inq             float64
mths_since_recent_revol_delinq    float64
num_accts_ever_120_pd             float64
num_actv_bc_tl                    float64
num_actv_rev_tl                   float64
num_bc_sats                       float64
num_bc_tl                         float64
num_il_tl                         float64
num_op_rev_tl                     float64
num_rev_accts                     float64
num_rev_tl_bal_gt_0               float64
num_sats                          float64
num_tl_120dpd_2m                  float64
num_tl_30dpd                      float64
num_tl_90g_dpd_24m                float64
num_tl_op_past_12m                float64
pct_tl_nvr_dlq                    float64
percent_bc_gt_75                  float64
pub_rec_bankruptcies              float64
tax_liens                         float64
tot_hi_cred_lim                   float64
total_bal_ex_mort                 float64
total_bc_limit                    float64
total_il_high_credit_limit        float64
Length: 101, dtype: object

In [62]:
y2015.isna().sum()

loan_amnt                              0
funded_amnt                            0
funded_amnt_inv                        0
term                                   0
int_rate                               0
installment                            0
grade                                  0
emp_length                         23817
home_ownership                         0
annual_inc                             0
verification_status                    0
issue_d                                0
loan_status                            0
pymnt_plan                             0
purpose                                0
title                                132
dti                                    0
delinq_2yrs                            0
inq_last_6mths                         0
mths_since_last_delinq            203962
mths_since_last_record            346680
open_acc                               0
pub_rec                                0
revol_bal                              0
total_acc                              0
initial_list_status                    0
out_prncp                              0
out_prncp_inv                          0
total_pymnt                            0
total_pymnt_inv                        0
                                   ...
mo_sin_old_rev_tl_op                   0
mo_sin_rcnt_rev_tl_op                  0
mo_sin_rcnt_tl                         0
mort_acc                               0
mths_since_recent_bc                3798
mths_since_recent_bc_dlq          312495
mths_since_recent_inq              44599
mths_since_recent_revol_delinq    269358
num_accts_ever_120_pd                  0
num_actv_bc_tl                         0
num_actv_rev_tl                        0
num_bc_sats                            0
num_bc_tl                              0
num_il_tl                              0
num_op_rev_tl                          0
num_rev_accts                          1
num_rev_tl_bal_gt_0                    0
num_sats                               0
num_tl_120dpd_2m                   19230
num_tl_30dpd                           0
num_tl_90g_dpd_24m                     0
num_tl_op_past_12m                     0
pct_tl_nvr_dlq                         0
percent_bc_gt_75                    4239
pub_rec_bankruptcies                   0
tax_liens                              0
tot_hi_cred_lim                        0
total_bal_ex_mort                      0
total_bc_limit                         0
total_il_high_credit_limit             0
Length: 101, dtype: int64

In [63]:
y2015.shape

(421095, 101)

In [64]:
for column in y2015.columns:
    if y2015[column].isna().sum() > 100000:
        del y2015[column]

In [65]:
y2015.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,home_ownership,annual_inc,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,16000.0,16000.0,16000.0,60 months,14.85,379.39,C,10+ years,MORTGAGE,48000.0,...,0.0,2.0,78.9,0.0,0.0,2.0,298100.0,31329.0,281300.0,13400.0
1,9600.0,9600.0,9600.0,36 months,7.49,298.58,A,8 years,MORTGAGE,60000.0,...,0.0,2.0,100.0,66.7,0.0,0.0,88635.0,55387.0,12500.0,75635.0
2,25000.0,25000.0,25000.0,36 months,7.49,777.55,A,10+ years,MORTGAGE,109000.0,...,0.0,0.0,100.0,20.0,0.0,0.0,373572.0,68056.0,38400.0,82117.0
3,28000.0,28000.0,28000.0,36 months,6.49,858.05,A,10+ years,MORTGAGE,92000.0,...,0.0,0.0,91.7,22.2,0.0,0.0,304003.0,74920.0,41500.0,42503.0
4,8650.0,8650.0,8650.0,36 months,19.89,320.99,E,8 years,RENT,55000.0,...,0.0,12.0,100.0,50.0,1.0,0.0,38998.0,18926.0,2750.0,18248.0

In [66]:
y2015.shape

(421095, 78)

In [49]:
#X = StandardScaler().fit_transform(y2015.select_dtypes(include=["float", "int"]).dropna())
#X = StandardScaler().fit_transform(y2015.dropna())

In [67]:
y2015 = y2015.dropna()

In [68]:
y2015.shape

(326299, 78)

In [69]:
outcome = y2015["loan_status"]
outcome_df = pd.DataFrame(y2015["loan_status"])

In [72]:
del y2015["loan_status"]

In [73]:
y2015.shape

(326299, 77)

In [74]:
y2015 = pd.get_dummies(y2015)

In [75]:
y2015.shape

(326299, 197)

In [76]:
X = y2015
sklearn_pca = PCA()
Y_sklearn = sklearn_pca.fit_transform(X)

print(
    'The percentage of total variance in the dataset explained by each',
    'component from Sklearn PCA.\n',
    sklearn_pca.explained_variance_ratio_)

The percentage of total variance in the dataset explained by each component from Sklearn PCA.
 [8.31540239e-01 7.63915181e-02 4.61677069e-02 2.45831210e-02
 8.66203675e-03 4.05883835e-03 3.51302355e-03 2.11750890e-03
 8.98731294e-04 8.22035986e-04 6.37826811e-04 2.06788554e-04
 1.77053293e-04 1.05567191e-04 8.10367591e-05 2.69608990e-05
 6.98865512e-06 2.74669635e-06 1.07464472e-07 7.38444833e-08
 3.43341410e-08 1.74304499e-08 1.25558258e-08 1.16316286e-08
 2.31876520e-09 1.94326964e-09 1.81524216e-09 1.71737132e-09
 1.00653064e-09 9.67477063e-10 7.35248996e-10 6.53164845e-10
 5.40524882e-10 4.96879127e-10 3.81323084e-10 3.53355569e-10
 1.51560687e-10 1.15848941e-10 1.14590375e-10 8.06571886e-11
 7.73218516e-11 4.58041199e-11 2.79324585e-11 1.66013763e-11
 1.60126795e-11 1.19703078e-11 1.02899534e-11 9.88770805e-12
 8.33706612e-12 6.62001767e-12 5.99534029e-12 5.28646634e-12
 4.29847125e-12 3.87464861e-12 3.76055270e-12 3.40628639e-12
 3.15144346e-12 2.86160591e-12 2.82804229e-12 2.56744037e-12
 2.19196875e-12 1.94505420e-12 1.71435021e-12 1.60509334e-12
 1.53689004e-12 1.52688067e-12 1.47290861e-12 1.40166562e-12
 1.38372098e-12 1.34399487e-12 1.33925444e-12 1.24319414e-12
 1.23547773e-12 1.20230463e-12 1.15369886e-12 1.10742016e-12
 1.05764792e-12 1.02736576e-12 9.74111485e-13 9.61946748e-13
 9.07390414e-13 8.71711074e-13 8.19409742e-13 7.77412438e-13
 7.33843298e-13 7.05530376e-13 6.69551842e-13 6.61990779e-13
 6.39708274e-13 6.10562734e-13 5.60448568e-13 4.64336823e-13
 3.60363835e-13 3.45961356e-13 3.22064033e-13 3.19401902e-13
 3.16797194e-13 3.16356655e-13 3.10684329e-13 3.07204737e-13
 2.92959059e-13 2.81284674e-13 2.57924151e-13 2.53948485e-13
 2.51770011e-13 2.47988606e-13 2.44270618e-13 2.36015781e-13
 2.24390785e-13 2.11508150e-13 2.06977605e-13 1.78051080e-13
 1.68268469e-13 1.65864187e-13 1.62801839e-13 1.56267115e-13
 1.55411511e-13 1.36272913e-13 1.35956811e-13 1.27408896e-13
 1.19924294e-13 1.11995444e-13 1.11574345e-13 1.02568913e-13
 1.00495458e-13 9.40083805e-14 8.79504829e-14 8.56425676e-14
 8.11791033e-14 7.39348908e-14 7.08213174e-14 5.60370113e-14
 5.41540424e-14 4.86874492e-14 4.05954322e-14 3.82417276e-14
 3.58190399e-14 3.47899574e-14 3.32198919e-14 2.95157878e-14
 2.59403206e-14 2.29628433e-14 2.13279805e-14 1.98933406e-14
 1.71355453e-14 1.48924599e-14 1.40351283e-14 1.21687073e-14
 9.99980018e-15 8.04687986e-15 6.78873217e-15 4.82841632e-15
 3.56177847e-15 2.84533069e-15 2.05874712e-15 2.02930858e-15
 1.13834995e-15 9.39855089e-16 5.58331126e-16 3.98489266e-16
 3.88747553e-16 2.48748686e-16 1.56115572e-16 1.36896592e-16
 1.18471920e-16 1.18217860e-16 9.97254923e-17 9.09507269e-17
 7.80384838e-17 6.44440780e-17 4.44333051e-17 4.44307615e-17
 4.44295288e-17 4.44243822e-17 4.44217887e-17 4.42801018e-17
 4.40131968e-17 4.38358105e-17 4.30344909e-17 4.18749577e-17
 5.98336625e-19 6.76656370e-33 6.76656370e-33 6.76656370e-33
 6.76656370e-33 6.76656370e-33 6.76656370e-33 6.76656370e-33
 6.76656370e-33 6.76656370e-33 6.76656370e-33 6.76656370e-33
 6.76656370e-33 6.76656370e-33 6.76656370e-33 4.72845652e-33
 4.55487299e-40]

In [77]:
sklearn_pca.explained_variance_ratio_.cumsum()

array([0.83154024, 0.90793176, 0.95409946, 0.97868259, 0.98734462,
       0.99140346, 0.99491648, 0.99703399, 0.99793272, 0.99875476,
       0.99939259, 0.99959938, 0.99977643, 0.999882  , 0.99996303,
       0.99998999, 0.99999698, 0.99999973, 0.99999984, 0.99999991,
       0.99999994, 0.99999996, 0.99999997, 0.99999999, 0.99999999,
       0.99999999, 0.99999999, 0.99999999, 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        ])

In [78]:
#the first six components explain 99% of the variance

sk_learn = PCA(n_components=6)
X_with6_components = sk_learn.fit_transform(X)

In [79]:
sk_learn

PCA(copy=True, iterated_power='auto', n_components=6, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [81]:
X_with6_components

array([[  28810.54692315,   -2624.17357434,  -23448.16880289,
         392459.62170937,  206501.49260549,  -19156.64017524],
       [-131438.22098421,    3263.51526732,   35618.50314013,
         -18712.90933444,   15148.69273857,   10819.91755144],
       [ 252823.53814598,   -4786.71309677,   -3365.07844251,
          -8860.19416975,   24837.20627514,  -21949.44478489],
       ...,
       [-181341.10615573,  -21049.14858629,    3291.31280933,
          -4516.78238561,   -3891.68338562,    5723.78844452],
       [-122262.73529535,    6920.56052404,   33057.94546852,
          -8054.37120217,   12030.35227492,   13754.31498463],
       [-176980.28570629,   43678.14101092,  -27825.90607981,
          36517.22696027,  -23157.68261192,  -16621.15420323]])

In [85]:
from sklearn import ensemble
from sklearn.model_selection import cross_val_score

rfc3 = ensemble.RandomForestClassifier()
Y = outcome
X = X_with6_components

cross_val_score(rfc3, X, Y, cv=10)

array([0.65471594, 0.65354089, 0.65524638, 0.65564375, 0.65279353,
       0.6512918 , 0.65049496, 0.64919701, 0.64827755, 0.64499816])