In [35]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [36]:
y2015 = pd.read_csv("LoanStats3d.csv", skipinitialspace=True, header=1)

C:\Users\jesst\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0,19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [37]:
y2015.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,68009401,72868139.0,16000.0,16000.0,16000.0,60 months,14.85%,379.39,C,C5,...,0.0,2.0,78.9,0.0,0.0,2.0,298100.0,31329.0,281300.0,13400.0
1,68354783,73244544.0,9600.0,9600.0,9600.0,36 months,7.49%,298.58,A,A4,...,0.0,2.0,100.0,66.7,0.0,0.0,88635.0,55387.0,12500.0,75635.0
2,68466916,73356753.0,25000.0,25000.0,25000.0,36 months,7.49%,777.55,A,A4,...,0.0,0.0,100.0,20.0,0.0,0.0,373572.0,68056.0,38400.0,82117.0
3,68466961,73356799.0,28000.0,28000.0,28000.0,36 months,6.49%,858.05,A,A2,...,0.0,0.0,91.7,22.2,0.0,0.0,304003.0,74920.0,41500.0,42503.0
4,68495092,73384866.0,8650.0,8650.0,8650.0,36 months,19.89%,320.99,E,E3,...,0.0,12.0,100.0,50.0,1.0,0.0,38998.0,18926.0,2750.0,18248.0

from sklearn import ensemble
from sklearn.model_selection import cross_val_score

rfc = ensemble.RandomForestClassifier()
X = y2015.drop("loan_status", 1)
Y = y2015["loan_status"]
X = pd.get_dummies(X)

cross_val_score(rfc, X, Y, cv=5)

In [38]:
categorical = y2015.select_dtypes(include=["object"])
for i in categorical:
    column = categorical[i]
    print(i)
    print(column.nunique())

id
421097
term
2
int_rate
110
grade
7
sub_grade
35
emp_title
120812
emp_length
11
home_ownership
4
verification_status
3
issue_d
12
loan_status
7
pymnt_plan
1
url
421095
desc
34
purpose
14
title
27
zip_code
914
addr_state
49
earliest_cr_line
668
revol_util
1211
initial_list_status
2
last_pymnt_d
25
next_pymnt_d
4
last_credit_pull_d
26
application_type
2
verification_status_joint
3

In [39]:
y2015["id"] = pd.to_numeric(y2015["id"], errors="coerce")
y2015["int_rate"] = pd.to_numeric(y2015["int_rate"].str.strip("%"), errors="coerce")

In [40]:
y2015.columns[11:25]

Index(['emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti'],
      dtype='object')

In [41]:
del y2015["emp_title"]

#y2015.drop(["url", "emp_title", "zip_code", "earliest_cr_line", "revol_util",
 #          "sub_grade", "addr_state", "desc"])

print(y2015.shape)

(421097, 110)

In [42]:
del y2015["zip_code"]

print(y2015.shape)

(421097, 109)

In [43]:
del y2015["earliest_cr_line"]

print(y2015.shape)

(421097, 108)

In [44]:
del y2015["revol_util"]

In [45]:
del y2015["sub_grade"]

In [46]:
del y2015["addr_state"]

print(y2015.shape)

(421097, 105)

In [47]:
del y2015["desc"]

In [54]:
del y2015["url"]

In [55]:
y2015.columns[10:21]

Index(['home_ownership', 'annual_inc', 'verification_status', 'issue_d',
       'loan_status', 'pymnt_plan', 'purpose', 'title', 'dti', 'delinq_2yrs',
       'inq_last_6mths'],
      dtype='object')

In [56]:
y2015.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
421090,36371250.0,39102635.0,10000.0,10000.0,10000.0,36 months,11.99,332.10,B,8 years,...,0.0,1.0,100.0,100.0,0.0,0.0,32950.0,25274.0,9200.0,15850.0
421091,36441262.0,39152692.0,24000.0,24000.0,24000.0,36 months,11.99,797.03,B,10+ years,...,0.0,2.0,56.5,100.0,0.0,0.0,152650.0,8621.0,9000.0,0.0
421092,36271333.0,38982739.0,13000.0,13000.0,13000.0,60 months,15.99,316.07,D,5 years,...,0.0,3.0,100.0,50.0,1.0,0.0,51239.0,34178.0,10600.0,33239.0
421093,36490806.0,39222577.0,12000.0,12000.0,12000.0,60 months,19.99,317.86,E,1 year,...,1.0,2.0,95.0,66.7,0.0,0.0,96919.0,58418.0,9700.0,69919.0
421094,36271262.0,38982659.0,20000.0,20000.0,20000.0,36 months,11.99,664.20,B,10+ years,...,0.0,1.0,100.0,50.0,0.0,1.0,43740.0,33307.0,41700.0,0.0

In [50]:
y2015 = y2015[:-2]

In [57]:
y2015["application_type"].unique()

array(['INDIVIDUAL', 'JOINT'], dtype=object)

In [58]:
outcome = y2015["loan_status"]
print(y2015.shape)

(421095, 103)

In [59]:
y2015 = pd.get_dummies(y2015)

In [60]:
y2015.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,...,last_credit_pull_d_Nov-2016,last_credit_pull_d_Oct-2015,last_credit_pull_d_Oct-2016,last_credit_pull_d_Sep-2015,last_credit_pull_d_Sep-2016,application_type_INDIVIDUAL,application_type_JOINT,verification_status_joint_Not Verified,verification_status_joint_Source Verified,verification_status_joint_Verified
0,68009401.0,72868139.0,16000.0,16000.0,16000.0,14.85,379.39,48000.0,33.18,0.0,...,0,0,0,0,0,1,0,0,0,0
1,68354783.0,73244544.0,9600.0,9600.0,9600.0,7.49,298.58,60000.0,22.44,0.0,...,0,0,0,0,0,1,0,0,0,0
2,68466916.0,73356753.0,25000.0,25000.0,25000.0,7.49,777.55,109000.0,26.02,0.0,...,0,0,0,0,0,1,0,0,0,0
3,68466961.0,73356799.0,28000.0,28000.0,28000.0,6.49,858.05,92000.0,21.60,0.0,...,0,0,0,0,0,1,0,0,0,0
4,68495092.0,73384866.0,8650.0,8650.0,8650.0,19.89,320.99,55000.0,25.49,0.0,...,0,0,0,0,0,1,0,0,0,0

In [64]:
from sklearn import ensemble
from sklearn.model_selection import cross_val_score

rfc = ensemble.RandomForestClassifier()
#X = y2015.drop("loan_status", 1)
Y = outcome
#X = pd.get_dummies(X)
X = y2015
X = X.dropna(axis=1)

cross_val_score(rfc, X, Y, cv=10)

array([1.        , 0.99995251, 0.99997625, 1.        , 0.99995251,
       0.99997625, 0.99992876, 0.99997625, 0.99997625, 0.9999525 ])

## Drill: Third Attempt 

Get rid of as much data as possible without dropping below an average of 90% accuracy in a 10-fold cross validation.

You'll want to do a few things in this process. First, dive into the data that we have and see which features are most important. This can be the raw features or the generated dummies. You may want to use PCA or correlation matrices.

Can you do it without using anything related to payment amount or outstanding principal? How do you know?

In [65]:
y2015.shape

(421095, 237)

In [66]:
del y2015["id"]

In [67]:
del y2015["member_id"]

In [68]:
y2015.head()

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,...,last_credit_pull_d_Nov-2016,last_credit_pull_d_Oct-2015,last_credit_pull_d_Oct-2016,last_credit_pull_d_Sep-2015,last_credit_pull_d_Sep-2016,application_type_INDIVIDUAL,application_type_JOINT,verification_status_joint_Not Verified,verification_status_joint_Source Verified,verification_status_joint_Verified
0,16000.0,16000.0,16000.0,14.85,379.39,48000.0,33.18,0.0,0.0,33.0,...,0,0,0,0,0,1,0,0,0,0
1,9600.0,9600.0,9600.0,7.49,298.58,60000.0,22.44,0.0,0.0,NaN,...,0,0,0,0,0,1,0,0,0,0
2,25000.0,25000.0,25000.0,7.49,777.55,109000.0,26.02,0.0,1.0,NaN,...,0,0,0,0,0,1,0,0,0,0
3,28000.0,28000.0,28000.0,6.49,858.05,92000.0,21.60,0.0,0.0,42.0,...,0,0,0,0,0,1,0,0,0,0
4,8650.0,8650.0,8650.0,19.89,320.99,55000.0,25.49,0.0,4.0,NaN,...,0,0,0,0,0,1,0,0,0,0

In [85]:
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [29]:
y2015.dtypes

loan_amnt                                    float64
funded_amnt                                  float64
funded_amnt_inv                              float64
int_rate                                     float64
installment                                  float64
annual_inc                                   float64
dti                                          float64
delinq_2yrs                                  float64
inq_last_6mths                               float64
mths_since_last_delinq                       float64
mths_since_last_record                       float64
open_acc                                     float64
pub_rec                                      float64
revol_bal                                    float64
total_acc                                    float64
out_prncp                                    float64
out_prncp_inv                                float64
total_pymnt                                  float64
total_pymnt_inv                              float64
total_rec_prncp                              float64
total_rec_int                                float64
total_rec_late_fee                           float64
recoveries                                   float64
collection_recovery_fee                      float64
last_pymnt_amnt                              float64
collections_12_mths_ex_med                   float64
mths_since_last_major_derog                  float64
policy_code                                  float64
annual_inc_joint                             float64
dti_joint                                    float64
                                              ...
last_credit_pull_d_Apr-2016                    uint8
last_credit_pull_d_Aug-2015                    uint8
last_credit_pull_d_Aug-2016                    uint8
last_credit_pull_d_Dec-2014                    uint8
last_credit_pull_d_Dec-2015                    uint8
last_credit_pull_d_Dec-2016                    uint8
last_credit_pull_d_Feb-2015                    uint8
last_credit_pull_d_Feb-2016                    uint8
last_credit_pull_d_Jan-2015                    uint8
last_credit_pull_d_Jan-2016                    uint8
last_credit_pull_d_Jan-2017                    uint8
last_credit_pull_d_Jul-2015                    uint8
last_credit_pull_d_Jul-2016                    uint8
last_credit_pull_d_Jun-2015                    uint8
last_credit_pull_d_Jun-2016                    uint8
last_credit_pull_d_Mar-2015                    uint8
last_credit_pull_d_Mar-2016                    uint8
last_credit_pull_d_May-2015                    uint8
last_credit_pull_d_May-2016                    uint8
last_credit_pull_d_Nov-2015                    uint8
last_credit_pull_d_Nov-2016                    uint8
last_credit_pull_d_Oct-2015                    uint8
last_credit_pull_d_Oct-2016                    uint8
last_credit_pull_d_Sep-2015                    uint8
last_credit_pull_d_Sep-2016                    uint8
application_type_INDIVIDUAL                    uint8
application_type_JOINT                         uint8
verification_status_joint_Not Verified         uint8
verification_status_joint_Source Verified      uint8
verification_status_joint_Verified             uint8
Length: 235, dtype: object

In [75]:
y2015.isna().sum()

loan_amnt                                         0
funded_amnt                                       0
funded_amnt_inv                                   0
int_rate                                          0
installment                                       0
annual_inc                                        0
dti                                               0
delinq_2yrs                                       0
inq_last_6mths                                    0
mths_since_last_delinq                       203962
mths_since_last_record                       346680
open_acc                                          0
pub_rec                                           0
revol_bal                                         0
total_acc                                         0
out_prncp                                         0
out_prncp_inv                                     0
total_pymnt                                       0
total_pymnt_inv                                   0
total_rec_prncp                                   0
total_rec_int                                     0
total_rec_late_fee                                0
recoveries                                        0
collection_recovery_fee                           0
last_pymnt_amnt                                   0
collections_12_mths_ex_med                        0
mths_since_last_major_derog                  298366
policy_code                                       0
annual_inc_joint                             420584
dti_joint                                    420586
                                              ...
last_credit_pull_d_Apr-2016                       0
last_credit_pull_d_Aug-2015                       0
last_credit_pull_d_Aug-2016                       0
last_credit_pull_d_Dec-2014                       0
last_credit_pull_d_Dec-2015                       0
last_credit_pull_d_Dec-2016                       0
last_credit_pull_d_Feb-2015                       0
last_credit_pull_d_Feb-2016                       0
last_credit_pull_d_Jan-2015                       0
last_credit_pull_d_Jan-2016                       0
last_credit_pull_d_Jan-2017                       0
last_credit_pull_d_Jul-2015                       0
last_credit_pull_d_Jul-2016                       0
last_credit_pull_d_Jun-2015                       0
last_credit_pull_d_Jun-2016                       0
last_credit_pull_d_Mar-2015                       0
last_credit_pull_d_Mar-2016                       0
last_credit_pull_d_May-2015                       0
last_credit_pull_d_May-2016                       0
last_credit_pull_d_Nov-2015                       0
last_credit_pull_d_Nov-2016                       0
last_credit_pull_d_Oct-2015                       0
last_credit_pull_d_Oct-2016                       0
last_credit_pull_d_Sep-2015                       0
last_credit_pull_d_Sep-2016                       0
application_type_INDIVIDUAL                       0
application_type_JOINT                            0
verification_status_joint_Not Verified            0
verification_status_joint_Source Verified         0
verification_status_joint_Verified                0
Length: 235, dtype: int64

In [31]:
y2015.shape

(421095, 235)

In [76]:
for column in y2015.columns:
    if y2015[column].isna().sum() > 100000:
        del y2015[column]

In [77]:
y2015.head()

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,...,last_credit_pull_d_Nov-2016,last_credit_pull_d_Oct-2015,last_credit_pull_d_Oct-2016,last_credit_pull_d_Sep-2015,last_credit_pull_d_Sep-2016,application_type_INDIVIDUAL,application_type_JOINT,verification_status_joint_Not Verified,verification_status_joint_Source Verified,verification_status_joint_Verified
0,16000.0,16000.0,16000.0,14.85,379.39,48000.0,33.18,0.0,0.0,11.0,...,0,0,0,0,0,1,0,0,0,0
1,9600.0,9600.0,9600.0,7.49,298.58,60000.0,22.44,0.0,0.0,7.0,...,0,0,0,0,0,1,0,0,0,0
2,25000.0,25000.0,25000.0,7.49,777.55,109000.0,26.02,0.0,1.0,9.0,...,0,0,0,0,0,1,0,0,0,0
3,28000.0,28000.0,28000.0,6.49,858.05,92000.0,21.60,0.0,0.0,16.0,...,0,0,0,0,0,1,0,0,0,0
4,8650.0,8650.0,8650.0,19.89,320.99,55000.0,25.49,0.0,4.0,18.0,...,0,0,0,0,0,1,0,0,0,0

In [78]:
y2015.shape

(421095, 214)

In [49]:
#X = StandardScaler().fit_transform(y2015.select_dtypes(include=["float", "int"]).dropna())
#X = StandardScaler().fit_transform(y2015.dropna())

In [79]:
y2015.dropna().shape

(344752, 214)

In [80]:
y2015.shape

(421095, 214)

In [81]:
sklearn_pca = PCA()
Y_sklearn = sklearn_pca.fit_transform(X)

print(
    'The percentage of total variance in the dataset explained by each',
    'component from Sklearn PCA.\n',
    sklearn_pca.explained_variance_ratio_)

The percentage of total variance in the dataset explained by each component from Sklearn PCA.
 [9.98422960e-01 1.22397239e-03 2.95771663e-04 2.43682199e-05
 1.54469675e-05 9.52714834e-06 3.34773664e-06 1.54726083e-06
 1.10567210e-06 6.79625341e-07 5.30949806e-07 3.25541289e-07
 2.77630883e-07 6.94555904e-08 3.11122011e-08 2.60021663e-08
 8.21406458e-09 3.17247436e-09 9.53549613e-10 4.21846107e-11
 2.44903731e-11 4.07455708e-12 2.76033007e-12 1.60496705e-12
 1.46986220e-12 6.67526563e-13 3.73198791e-13 3.45094817e-13
 2.34550336e-13 2.17612364e-13 1.71971989e-13 9.29892088e-14
 5.28424307e-14 4.36985656e-14 4.15767510e-14 3.00195349e-14
 2.84614094e-14 1.23142111e-14 1.01396209e-14 6.17564480e-15
 5.78792714e-15 4.38228069e-15 3.96115665e-15 3.61031728e-15
 3.20019071e-15 2.87433440e-15 2.68126543e-15 2.08782033e-15
 1.85458903e-15 1.63040289e-15 1.53422659e-15 1.38549060e-15
 1.28144940e-15 1.13335545e-15 1.03538618e-15 9.57148512e-16
 9.47260151e-16 8.12146698e-16 7.81698840e-16 7.34427817e-16
 6.45315602e-16 6.09325381e-16 6.04929773e-16 5.82677651e-16
 5.43863355e-16 5.06785573e-16 4.88443707e-16 4.49936520e-16
 4.37924921e-16 4.33103263e-16 4.16523133e-16 4.02215218e-16
 3.72794335e-16 3.65036865e-16 3.57733326e-16 3.45588893e-16
 3.32932006e-16 3.23269665e-16 3.05011481e-16 3.01601125e-16
 2.75450585e-16 2.72828842e-16 2.39441857e-16 2.37638633e-16
 2.30355658e-16 2.16622718e-16 2.07794678e-16 2.06737553e-16
 1.90070938e-16 1.60681080e-16 1.34636462e-16 1.29555106e-16
 1.25949299e-16 1.14771080e-16 1.12986221e-16 1.11013183e-16
 1.08448630e-16 1.04011956e-16 9.92433940e-17 9.66707713e-17
 9.16158286e-17 8.99711490e-17 8.76664959e-17 8.61642024e-17
 8.29024238e-17 8.24573745e-17 7.64348159e-17 7.14094078e-17
 6.84986925e-17 6.70204139e-17 6.43206065e-17 5.84697807e-17
 5.67678456e-17 5.61004674e-17 5.16728467e-17 5.12573305e-17
 4.61848416e-17 4.29837816e-17 3.98134392e-17 3.75640146e-17
 3.73623241e-17 3.59800631e-17 3.54587887e-17 3.46415222e-17
 3.12390171e-17 3.02483864e-17 2.87401866e-17 2.82764123e-17
 2.59245950e-17 2.58253736e-17 2.38341128e-17 2.15843999e-17
 2.07210252e-17 1.96910433e-17 1.77398153e-17 1.68486553e-17
 1.51661289e-17 1.36633205e-17 1.31332193e-17 1.25057094e-17
 1.19557100e-17 1.06691780e-17 9.88527609e-18 8.68738951e-18
 7.75687870e-18 7.04655812e-18 5.96698380e-18 5.89147708e-18
 5.32376452e-18 4.92649577e-18 4.74139370e-18 3.55120023e-18
 2.89554719e-18 2.57583947e-18 1.71035016e-18 1.55948439e-18
 1.07973942e-18 9.53823112e-19 9.25703656e-19 7.63257838e-19
 4.66832885e-19 4.32516578e-19 2.24452857e-19 2.23731221e-19
 2.02559086e-19 1.80553075e-19 1.42353987e-19 1.36898017e-19
 7.46486980e-20 6.29609326e-20 5.83995282e-20 5.20896314e-20
 4.80185198e-20 3.28844742e-20 2.53430124e-20 1.89127185e-20
 1.50530403e-20 1.23327397e-20 1.23322283e-20 1.23320976e-20
 1.23315781e-20 1.23313025e-20 1.23298207e-20 1.23293316e-20
 1.23269538e-20 1.22776308e-20 1.22540239e-20 1.22291770e-20
 1.20528448e-20 1.19194725e-20 1.08374769e-20 3.78001044e-21
 2.11025432e-22 5.29869188e-33 5.29869188e-33 5.29869188e-33
 5.29869188e-33 5.29869188e-33 5.29869188e-33 5.29869188e-33
 5.29869188e-33 5.29869188e-33 5.29869188e-33 5.29869188e-33
 5.29869188e-33 5.29869188e-33 4.93749352e-36 3.03012430e-41]

In [82]:
sklearn_pca.explained_variance_ratio_.cumsum()

array([0.99842296, 0.99964693, 0.9999427 , 0.99996707, 0.99998252,
       0.99999205, 0.99999539, 0.99999694, 0.99999805, 0.99999873,
       0.99999926, 0.99999958, 0.99999986, 0.99999993, 0.99999996,
       0.99999999, 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        ])

In [90]:
#the first component explains 99% of the variance, and then if you add two more components, 99.99% of the variance is explained

sk_learn = PCA(n_components=3)
X_with3_components = sk_learn.fit_transform(X)

In [91]:
sk_learn

PCA(copy=True, iterated_power='auto', n_components=3, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [94]:
X_with3_components

array([[-20770840.15168291,   -145783.98553762,     35678.82786022],
       [-21281614.85018383,   -150995.63064156,   -123768.77782626],
       [-21440245.73516726,   -144556.74364216,    260338.47676723],
       ...,
       [ 25656844.19005589,   -189226.39008062,   -161773.27711998],
       [ 25331743.4543124 ,   -192520.09316405,   -102767.60577875],
       [ 25656949.40613355,   -189219.44962611,   -157282.64286362]])

In [95]:
rfc3 = ensemble.RandomForestClassifier()
#X = y2015.drop("loan_status", 1)
Y = outcome
#X = pd.get_dummies(X)
X = X_with3_components

cross_val_score(rfc3, X, Y, cv=10)

array([0.6803448 , 0.22160481, 0.16097932, 0.14689749, 0.11168369,
       0.09755403, 0.07630198, 0.07810682, 0.13320826, 0.25055812])