In [1]:
import numpy as np
import pandas as pd

In [2]:
string = "Twinkle, twinkle, little star, \n        How I wonder what you are!\n                Up above the world so high,\n                Like a diamond in the sky.\nTwinkle, twinkle, little star,\n        How I wonder what you are."
print(string)

Twinkle, twinkle, little star,
        How I wonder what you are!
                Up above the world so high,
                Like a diamond in the sky.
Twinkle, twinkle, little star,
        How I wonder what you are.

In [1]:
data = input("Enter a list of numbers, separated by commas")
data_split = data.split(",")
data_list = list(data_split)
data_tuple = tuple(data_list)
print(data_list)
print(data_tuple)

Enter a list of numbers, separated by commas5, 6, 7
['5', ' 6', ' 7']
('5', ' 6', ' 7')

In [4]:
tuple(data)

('3', ',', ' ', '5', ',', ' ', '7', ',', ' ', '9')

In [25]:
n = input("Enter an integer")
n = int(n)
x = abs(17-n)
if x > 17:
    print(2*x)

Enter an integer-50
134

In [34]:
num_string = input("Enter three numbers, separated by commas.")
num_list = num_string.split(",")
val_1 = int(num_list[0])
val_2 = int(num_list[1])
val_3 = int(num_list[2])
if val_1 == val_2 == val_3:
    print(3*sum([val_1, val_2, val_3]))
else:
    print(sum([val_1, val_2, val_3]))

Enter three numbers, separated by commas.6,6,6
54

In [31]:
sum([2,3])

5

In [37]:
for n in range(1,101):
    if (n % 3 == 0) & (n % 5 == 0):
        print("FizzBuzz")
    elif n % 3 == 0:
        print("Fizz")
    elif n % 5 == 0:
        print("Buzz")
    else:
        print(n)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [39]:
base = input("Enter the base of the triangle")
height = input("Enter the height of a triangle")
base = int(base)
height = int(height)
print((base*height)/2)

Enter the base of the triangle10
Enter the height of a triangle6
30.0

In [47]:
val_1 = input("Enter one number")
val_2 = input("Enter another number")
val_1 = int(val_1)
val_2 = int(val_2)

if (val_1 == val_2) or (abs(val_1 - val_2)) or (val_1 + val_2 == 5):
    print(True)
else:
    print("No dice")

Enter one number50
Enter another number65
True

In [51]:
val_1 = input("Enter one number")
val_2 = input("Enter another number")
val_1 = int(val_1)
val_2 = int(val_2)

if val_1 == val_2:
    print(True)
elif abs(val_1 - val_2) == 5 or val_1 + val_2 == 5:
    print(True)
else:
    print("No dice")

Enter one number10
Enter another number43
No dice

In [7]:
string = 'Hello There'
print(', '.join([string[:5]] * 2))

Hello, Hello

In [8]:
something = [', '.join([string[:5]] * 2)]

In [9]:
print(something)

['Hello, Hello']

In [12]:
print(*3*('Hamlet',), sep=', ')

Hamlet, Hamlet, Hamlet

In [15]:
whatever = list((*3*('Hamlet',), sep= ', '))
print(whatever)

SyntaxError: invalid syntax (<ipython-input-15-6593076fa74f>, line 1)

In [16]:
text_source = []
for i in range(0,10):
    text_source.append("Hamlet")
    
print(text_source)

['Hamlet', 'Hamlet', 'Hamlet', 'Hamlet', 'Hamlet', 'Hamlet', 'Hamlet', 'Hamlet', 'Hamlet', 'Hamlet']